#result {
    display: none;
    background-color: #ffffff95;
    box-shadow: 5px 5px 10px #3676B670;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}
.resultname {
    font-family:  "YUniverse-B";
    transform : rotate(0.04deg); 
}
.resultDesc {
    font-size: 1em;
    transform : rotate(0.04deg); 
}
.good{
    color: #3676b6;
}
.good p{
    font-size: 0.8em;
}
.copy {
    font-size: 0.8em;
    color: #3A7CD5;
    background-color: #ffffff90;
    border-radius: 20px;
    border: 0;
}
.buy {
    font-size: 0.8em;
    color: #EC6574;
    background-color: #ffffff90;
    border-radius: 20px;
    border: 0;
}
.copy:hover,
.copy:focus,
.buy:hover,
.buy:focus
{
    box-shadow: 0 0 10px #fff;
}